// Submit Button
.cadastrar-button {
  --background: #141414;
  --background-activated: #333333;
  --background-hover: #2a2a2a;
  --border-radius: 8px;
  --color: #fafafa;
  --box-shadow: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  height: 48px;
  margin: 0;
  text-transform: none;
  letter-spacing: 0;
}